.home{ng: {controller: 'HomeController'}}
  %section
    %h2 2014 Lexington, KY Budget
    .row
      .col-md-6
        %h3
          All Funds
          %i.fa.fa-spinner.fa-spin{ng: {show: 'loading.budget_data'}}
        %allFundsChart{data: 'budget_data'}
      .col-md-6
        %h3
          General Services
          %i.fa.fa-spinner.fa-spin{ng: {show: 'loading.budget_data'}}
        %generalServicesChart{data: 'budget_data'}
  %hr
  %table.table.table-striped{ng: {if: 'table_data.length > 0'}}
    %thead
      %tr
        %th
          %select.form-control{ng: {model: 'filters.fund_name', options: 'fund as fund for fund in funds'}}
      %tr
        %th Fund
        %th Division
        %th Program
        %th Account
        %th.text-right Adopted
    %tbody
      %tr{ng: {repeat: 'row in page_budget_data = (table_data | startFrom:(page_info.page - 1) * page_info.per_page | limitTo:page_info.per_page)'}}
        %td
          {{row.fund_name}}
        %td
          {{row.division_name}}
        %td
          {{row.program_name}}
        %td
          {{row.account_name}}
        %td.nowrap.text-right
          {{row.fy_2014_adopted | currency}}
  %div{ng: {include: "'pagination.html'"}}
