!!!
%html{'ng-app' => 'LexApp'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %title Look at Lexington - Lexington, Kentucky
    %meta{content: '', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %link{href: 'css/all.min.css', rel: 'stylesheet'}
    %script{src: 'js/modernizr-2.6.2.min.js'}
  %body
    .container
      .page-header
        %h1 Look at Lexington
      %div{'ng-view' => ''}
    %script{src: 'js/all.js'}
