%ul.pagination{ng: {show: 'page_info.num_pages > 1'}}
  %li{ng: {if: '1 !== page_info.page'}}
    %a{'tooltip-placement' => 'top', tooltip: "First Page", ng: {click: 'page(1)'}}
      &laquo;
  %li{ng: {if: '1 !== page_info.page'}}
    %a{'tooltip-placement' => 'top', tooltip: "Previous Page", ng: {click: 'page(page_info.page - 1)'}}
      &lt;
  %li{ng: {repeat: 'i in page_info.windows[0]', class: '{active: i + 1 === page_info.page}'}}
    %a{ng: {click: 'page(i+1)'}}
      {{i + 1}}
  %li{ng: {show: 'page_info.windows.length > 1'}}
    %a
      \...
  %li{ng: {repeat: 'i in page_info.windows[1]', class: '{active: i + 1 === page_info.page}', show: 'page_info.windows.length > 1'}}
    %a{ng: {click: 'page(i+1)'}}
      {{i + 1}}
  %li{ng: {if: 'page_info.num_pages !== page_info.page'}}
    %a{'tooltip-placement' => 'top', tooltip: "Next Page", ng: {click: 'page(page_info.page + 1)'}}
      &gt;
  %li{ng: {if: 'page_info.num_pages !== page_info.page'}}
    %a{'tooltip-placement' => 'top', tooltip: "Last Page", ng: {click: 'page(page_info.num_pages)'}}
      &raquo;
