<ul class='pagination' ng-show='page_info.num_pages &gt; 1'>
  <li ng-if='1 !== page_info.page'>
    <a ng-click='page(1)' tooltip-placement='top' tooltip='First Page'>
      &laquo;
    </a>
  </li>
  <li ng-if='1 !== page_info.page'>
    <a ng-click='page(page_info.page - 1)' tooltip-placement='top' tooltip='Previous Page'>
      &lt;
    </a>
  </li>
  <li ng-class='{active: i + 1 === page_info.page}' ng-repeat='i in page_info.windows[0]'>
    <a ng-click='page(i+1)'>
      {{i + 1}}
    </a>
  </li>
  <li ng-show='page_info.windows.length &gt; 1'>
    <a ng-click='show_all_pages()'>
      ...
    </a>
  </li>
  <li ng-class='{active: i + 1 === page_info.page}' ng-repeat='i in page_info.windows[1]' ng-show='page_info.windows.length &gt; 1'>
    <a ng-click='page(i+1)'>
      {{i + 1}}
    </a>
  </li>
  <li ng-if='page_info.num_pages !== page_info.page'>
    <a ng-click='page(page_info.page + 1)' tooltip-placement='top' tooltip='Next Page'>
      &gt;
    </a>
  </li>
  <li ng-if='page_info.num_pages !== page_info.page'>
    <a ng-click='page(page_info.num_pages)' tooltip-placement='top' tooltip='Last Page'>
      &raquo;
    </a>
  </li>
</ul>
